.box {
    cursor: pointer;
    float: left;
    height: 16px;
    width: 16px;
    border-radius: 10%;
    clear: both;
  }


  .total-box{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  .cart-dtl{
    overflow: auto;
    max-height: 650px;
  }

  .quantity-main{
    padding-bottom: 100px !important;
  }

  .quantity-scroll-div{
    overflow: auto;
    max-height: 770px;
  }

  .models-btn{
    padding:0 10px !important;
  }

  .models-box .mat-expansion-panel-body {
    padding: 0 24px 10px 10px ;
  }
