.require_review_container{
    p{
        display: flex;
        align-items: center;
        color: gray !important;
   
        span{
            padding-left: 4px;
            font-size: 12px;
            line-height: 16px;
        }
    }
}
