<div
    class="w-full flex sm:flex-col sm:flex-auto items-center sm:justify-center min-w-0 bg-card sm:bg-gray-100"
>
    <div class="w-full sm:w-6/12 md:w-4/12 sm:shadow sm:bg-card rounded">
        <div class="w-full mx-auto sm:mx-0">
            <div class="flex justify-center border-b p-4">
                <img class="w-44" src="assets/images/logo/logo.svg" />
            </div>

            <div class="p-8">
                <div
                    class="text-2xl font-extrabold tracking-tight leading-tight"
                >
                    Reset password
                </div>
                <div *ngIf="!isFormSubmit" class="mt-8 font-medium">
                    <div>
                        New to Formero?
                        <a
                            ><span
                                class="underline hover:cursor-pointer"
                                [routerLink]="['/sign-up']"
                            >
                                Create an account</span
                            ></a
                        >
                    </div>
                </div>
                <div *ngIf="isFormSubmit" class="mt-8 font-medium">
                    <div>
                        To reset your password, follow the instructions sent via
                        email to:
                    </div>
                    <div>{{ forgotPasswordForm.get("email").value }}</div>
                    <div class="mt-8 hover:cursor-pointer">
                        If you still need help,
                        <a class="underline"> contact support.</a>
                    </div>
                </div>

                <form
                    *ngIf="!isFormSubmit"
                    class="mt-6 mb-4"
                    [formGroup]="forgotPasswordForm"
                    #forgotPasswordNgForm="ngForm"
                >
                    <mat-form-field class="w-full">
                        <mat-label class="font-bold">Email address</mat-label>
                        <input
                            id="email"
                            matInput
                            [formControlName]="'email'"
                        />
                        <mat-error
                            class="flex items-center"
                            *ngIf="
                                forgotPasswordForm
                                    .get('email')
                                    .hasError('required')
                            "
                        >
                            <mat-icon
                                class="icon-size-5 text-red-400 mr-1"
                                [svgIcon]="'mat_solid:warning_amber'"
                            ></mat-icon>
                            Email address is required
                        </mat-error>
                        <mat-error
                            class="flex items-center"
                            *ngIf="
                                forgotPasswordForm
                                    .get('email')
                                    .hasError('email')
                            "
                        >
                            <mat-icon
                                class="icon-size-5 text-red-400 mr-1"
                                [svgIcon]="'mat_solid:warning_amber'"
                            ></mat-icon>
                            Email address is invalid
                        </mat-error>
                    </mat-form-field>

                    <button
                        *ngIf="!isFormSubmit"
                        class="w-full bg-[#00E0AC] p-4 mt-4 rounded"
                        [disabled]="forgotPasswordForm.disabled"
                        (click)="sendResetLink()"
                    >
                        <span
                            class="font-bold"
                            *ngIf="!forgotPasswordForm.disabled"
                        >
                            Reset password
                        </span>
                        <p
                            class="flex justify-center"
                            *ngIf="forgotPasswordForm.disabled"
                        >
                            <mat-progress-spinner
                                [diameter]="24"
                                [mode]="'indeterminate'"
                            ></mat-progress-spinner>
                        </p>
                    </button>
                </form>
                <button
                    *ngIf="isFormSubmit"
                    class="w-full border text border-[#00E0AC] p-4 mt-4 rounded"
                    [routerLink]="['/sign-in']"
                >
                    <span
                        class="font-bold"
                        *ngIf="!forgotPasswordForm.disabled"
                    >
                        Return login
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>
